@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: rgba(236, 234, 230, 0.89);
  
}
#app {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  margin-top: 50px;
  width: 90%;
}

.hide {
  display: none;
}
